.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container {
  text-align: center;
  margin: 50px 20%;
  padding: 20px 0;
  width: 60%;
  border-radius: 5px;
}

.dialog {
  text-align: left;
  padding: 30px 0;
  width: 40%;
  float: left;
  margin-right: 10%;
}

button {
  margin-top: 10px;
}

.action {
  display: inline;
}

#list {
  text-align: center;
  width: 90%;
  margin: 0 20%;
}

#detail {
  float: left;
  text-align: center;
  width: 33%;
}

#basic-addon1 {
  width: 100px;
}

#login {
  text-align: center;
  width: 400px;
  margin: 0 auto;
  background-color: beige;
}

#block1 {
  margin-top: 20px;
}

#block2 {
  margin-top: 10px;
}

#register {
  float: left;
}

#go {
  margin-left: 120px;
  width: 100px;
}

#alert {
  margin-top: 20px;
  height: 50px;
}

#task {
  margin-left: 20px;
}

#taskItem {
  width: 300px;
  margin-top: 5px;
  margin-left: 120px;
  margin-bottom: -5px;
}

#taskUl {
  margin-bottom: 50px;
  margin-top: 0;
}

#todoInput {
  width: 260px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
